.formSubmit {
    background-color: whitesmoke;
    border: 15px solid #212529;
    text-align: center;
    padding: 5%;
    margin: 1.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350%;
    max-height: 100%;

}